# Auto detect text files and perform LF normalization
* text=auto
# Build results
**/bin/
**/obj/
out/
build/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# Package files
*.nupkg
*.snupkg
packages/

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Database files
*.db
*.db-shm
*.db-wal

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.development
.env.production

# Runtime identifier graph
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Web workbench (sass)
.sass-cache/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini