name: Build, publish and deploy to LinesApp

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build --configuration Release --no-restore

      - name: Publish via Web Deploy
        run: >
          dotnet publish ./Lines.Presentation/Lines.Presentation.csproj
          --configuration Release
          /p:PublishProfile=IISProfile
          /p:Password="P@ssw0rd"
